@charset "UTF-8";
body, div, p, ul, ol, li, dl, dt, dd, form, table, tr, td, h1, h2, h3, h4, h5, h6, fieldset, input, textarea, figure {
  margin: 0;
  padding: 0; }
body {
  font-family: "微软雅黑",Arial; }

a {
  text-decoration: none;
  color: black; }

ul, ol {
  list-style: none; }

img {
  border: none;
  display: block; }
  //headerTop
 #headerTop{
  width: 100%;
  background: #f2f2f2;
 }
 #headerTopIn {
  width: 1120px;
  height: 30px;
  font-size:12px;
  color: #000000;
  text-align: center;
  line-height: 30px;
  margin: 0 auto; 
}
.headerTopInLeft {
  float:left; 
  li{
  float: left;
  img{
  float: left;   
  }
      a{
         padding-left:20px;
         padding-right:20px;  
      } 
  }
}
.headerTopInRight{
  float:right; 
  padding-left:20px;
  padding-right:20px;
  li{
  float:left; 
      a{
        padding-left:20px;
        padding-right:20px; 
      }
  }
  li:nth-child(3){
       background:url(../img/weibo.png) no-repeat center center;
      width:42px;
      height:22px;
  }
}
//headerBot
#headerBot{
    @extend #headerTop;
    background:#ffffff;
}
#headerBotIn{
    a{
        font-size:16px;
        color: #747474;
        margin-right:14px;  
    }
  width: 1120px;
  height: 90px;
  line-height: 90px;
  margin: 0 auto; 
}
.headerBotInLeft{
  li{
      float: left; 
  }
}
.headerBotInRight{
    padding-top:25px;
    float:right;
    margin-right:63px;
    li:nth-child(1){
        float:left;
        input{
            width: 358px;
            height: 36px;
            display:block;
            border:1px solid #111111;
        }
    }
     li:nth-child(2){
        float:left;
        width: 38px;
        height: 38px;
        background:#000000;
        a{
            display:block;
         img{
            width: 21px;
            height: 19px;
            margin-left:10px;
            margin-top:10px;  
            }   
        } 
    }
}
//nav
#nav{
    width:100%;
    background:#000000; 
    z-index:100;
}
#navIn{
    width: 1140px;
    height: 40px; 
    margin: 0 auto;                                                       
}
.navInLeft{
    float:left;
    position:relative;
    li{
      float:left;
      font-size:14px; 
      margin-right:50px; 
      line-height:40px;
      a{
      color:#ffffff;      
      }
    }
    li:nth-child(1){
        a{
        color:#ff0000;
        margin-left:60px;
        }
    }
    li:hover #hidemenu{
        display:block;
    }
    #silo-icon{
        width: 32px;
        height: 18px;
        position: absolute;
        top: 0;
        right:120px;
        z-index:1;
    }
    li{
        position:relative;
        a:hover{
        color:red;
        }

       #hidemenu{
         padding:10px 0px;
         width: 630px;
        height: 315px;
        display:none;
        position:absolute;
       background-color:#fff;
        z-index:300;
        #menuLeft{
         float:left;
        padding:0px 9px;

         width: 300px;
        height: 315px;
        border-right:1px solid #e7e7e7;
        h3{
            font-weight:100;
            font-size:14px;
            color:#000000;
            line-height:44px;
            border-bottom:1px solid #e7e7e7;                                    
        }
       #menuInLeft{
        li{
            height:28px;   
            a{
              margin:0;
               width:294px;
            color:#666666;
            font-size:12px;  
            }
             a:hover{
            color:red; 
            }
           
        }
    
        li:nth-child(9){
            float:right;
            margin-top:24px;
            margin-right:15px;
            a{
                 color:#000000;
            }
           a:hover{
            color:red; 
            }
        }
       }
        } 
       #menuRight{        
         float:right;
         width: 274px;
        height: 315px;
        border-right:1px solid #e7e7e7;
        h3{       
            font-weight:100;
            font-size:14px;
            color:#000000;
            line-height:44px;
            border-bottom:1px solid #e7e7e7;                                    
        }
       #menuInRight{
        li{
            height:28px;
            width:294px;
            float:left; 
            a{
            margin:0;
            width:294px;
            color:#666666;
            font-size:12px;  
            }
             a:hover{
            color:red; 
            }
        }

       }
        } 
       }
    }   
}
.navInRight{
    float:right;
    li{
        float:left;
        color:white;
        text-align:center;
        line-height:40px;
    }
    li:nth-child(1){
        width:32px;
        height:32px;
       background:url(../img/goods.png) no-repeat center center;   
    }
    li:nth-child(2){
        margin-left:16px;
        margin-right:16px;     
    }
    li:nth-child(3){
        margin-right:80px;     
    }
}
//content
.content{
      position:relative;
    font-size:12px;
    width:100%;
    .contentIn{
        margin:0 auto;
        height:auto;
        width: 1000px;
        padding: 0px 0 20px 0;
        border-bottom: 1px solid #e7e7e7;
     .activesTime{
//    position:absolute;
       height:52px;
       li{
          padding-left:10px;
          line-height:52px; 
          float:left;
           a{
              color:#999;
               font-size:12px;
           }
           span{
           padding-right:10px;               
           }
       }
    } 
    
    .contentMain{
        width:1000px;
        height:830px;
        .conImg{
           width:480px;
           height:830px;
           position:relative;
           float:left;
           margin-right:40px;
           .imgs{
             width:485px;
             height:647px;
             background: red;
            margin-left:10px; 
           }
           a{
               display: inline;
               width:23px;
               height:42px;
           }
           a:nth-child(2){
              position:absolute;
              left:20px;
              top:300px;
              background:url(../img/bigimg_prev.png) no-repeat;
           }
           a:nth-child(3){             
              position:absolute;
              right:10px;
              top:300px;
              background:url(../img/bigimg_next.png) no-repeat;             
           }
           .smallImg{
             padding:0 20px;
             width:480px;
             margin-left:10px;
            .smallImgIn{
              width:80px;
              height:107px;
              float:left;
              margin:0 5px;  
              img{
                  width:80px;
                  height:107px;    
              } 
            }
           }
        }
        .conInfo{
          color:#929292;
           width:480px;
           height:830px;
           float:left;
           .proTiltle{
               width:480px;
               p:nth-child(1){
                   float:left;
                   font-size: 28px;
                   font-weight: 600;
                   line-height: 32px;
                    color:black;
               }
                   a{
                       float:right;
                       width:100px;
                       height:22px;
                       color:#929292;
                       line-height:30px;
                       vertical-align:center;
                       background: url(../img/weibo.png) no-repeat 25px 0px;
                   }     
           }
           h3{
               clear:both;
               font-size: 16px;
               font-weight: 100;
               line-height:34px;
           }
           .price{
               width:480px;
               height:66px; 
               line-height:66px;
               .curPrice{
                        font-size: 28px;
                        font-weight: 600;
                        color: #dd2828;
                        float:left;
                        
               }
                .oriPrice{
                        float:left;                
                        margin-right:12px;
                        font-size: 18px;                       font-weight: 600;
                        color: #999999;
                        font-weight:100;
                        text-decoration:line-through;
               }
               .discount{
                     float:right;                       
                        font-size: 24px;                       font-weight: 600;
                        color: #000;
                        font-weight:600;
                        span:nth-child(2){
                            font-size: 14px;
                            font-weight:100; 
                        }
               }
           } 
          .feedback{
               text-indent:60px;
               width:480px;
               height:40px; 
               line-height:40px;
               background:#eeeeee url(../img/feedback.png) no-repeat 20px center;
          }
          .proChose{
              margin-top:10px;
              width:480px;
              height:135px;
             .color{
                line-height:30px;
                width: 360px;
                height: 30px;
                font-size: 14px;       
                color: #929292;
                span{
                  font-weight: 600;  
                }
             }
            .choseCor{
                 width: 58px;
                 height: 94px;
                 li{
                     margin-left:10px;
                       img{
                         display:block;
                         width: 56px;
                         height: 75px;
                         border: 1px solid #eee;
                     }
                     span{
                            display:inline-block;
                            width:58px;
                            color: #fff;
                            background: #000;
                            text-align:center;                         
                     }  
                 }              
            }  
            
          } 
          .proSize{
                width: 360px;
                height: 30px;
                line-height:30px;
                font-size: 14px;       
                color: #929292;  
            }
            
            .proChoseSize {
                 width: 310px;
                 height: 34px;
                
              li:nth-child(4){
                  margin-right:0px;
              }
               li{
                  margin-right:10px; 
                  margin-bottom:10px;
                  float:left;
                  width:68px;
                  height:34px;
                  background:#eeeeee;
                        a{ 
                            
                    z-index:0;    
                    display: block;
                    width: 68px;
                    height: 34px;
                    line-height: 34px;
                    text-align: center;
                    font-size: 14px;
                  }  
                   .sizeTopBox{
                       position:absolute;
                        height:100px;
                         width: 170px;
                         display:none;
                         z-index:10;
                         .bgBox{
                             width: 16px;
                             height: 8px;
                             margin-left:25px;
                         }
                         .boxContent{
                             background: #eee;
                             ul{  
                                .bgBoxOut{
                                  margin:0;
                                 width:150px;
                                 line-height: 31px;
                                 height:31px;
                                 float: none;
                                 color: #929292;
                                 text-indent:6px; 
                                 strong{
                                     color:black;
                                 }  
                              } 
                             }
                             
                         }                           
                    }                       
                
           } 
          li:hover a{
               background:black;
               color:white;
               font-weight:600;
           }
           li:hover .sizeTopBox{
                display:block;             
           } 
         } 
         //此处结束                   
        .choseCount{
            width:360px;
            height:65px;
//          background: red;
            clear:both;
            p{
               line-height:30px; 
            }
            span{
                width:34px;
                height:34px; 
                height: 34px;
                line-height: 34px;
                text-align: center;
                font-size: 24px;
                display:inline-block;
                background: #eee; 
                input{
                     width:34px;
                     height:34px;
                     outline:none;
                     background:white;
                     text-align: center;
                    font-size: 14px;
                    display:inline-block;
                    border:none; 
                }
            }
            span:nth-child(2){
               background:white; 
            }
        }          
        .stockTime{
            height: 30px;
            padding-top: 3px;
            color: #929292;
            font-size: 14px;
            span{
                font-weight: 600;
                color: #000;
                line-height:30px;
            }
        }   
        .addButton{
            height: 44px;
            padding: 20px 0;
            a{
                display: inline-block;
                width: 230px;
                height: 44px;
                text-align: center;
                line-height: 44px;
                font-size: 16px;
                background-color: #222;
                color: #fff;
                float: left;
                font-weight:600;
//              
            }
            a:nth-child(1){
                margin-right: 20px; 
            }
            a:nth-child(2){
                 background-color: #dd2828; 
            }
        }   
         .purchaseTime{
             margin-top:50px;

            .leftInfo{
                padding: 8px 0;
                font-weight: bold;
                float: left;
                margin-right: 3px;
             
                p{
                     color: black;  
                }
            } 
            .rightInfo{
                float: left;
                strong{
                    color:black;
                    width: 38px;
                    height: 42px;
                    margin: 0 5px;
                    padding: 3px 2px;
                    display: inline-block;
                    vertical-align: top;
                    text-align: center;
                    border: 1px solid #ccc;
                    position: relative;
                    span{
                            font-size: 30px;
                    }
                }
                span{
                    display: inline-block;
                    line-height: 48px;
                    vertical-align: top;                  
                }
            }            
         } 
          
         .bottomInfo{
          padding-top:30px; 
                        
             clear:both;
             width:480px;
             line-height:54px;
             height:54px;
            color:black;
             span:nth-child(1){
                 display: inline-block;
                 text-indent:24px;
                 width: 138px;                   
                 background:url(../img/icon_real100.png) no-repeat 0px 20px;
             }
             span:nth-child(2){
                 display: inline-block;
                
                 text-indent:24px;  
                 width: 138px;  
                 background:url(../img/icon_7daysrma.png) no-repeat 0px 20px;
             }
         }  
          
                      
        }
    }  
    //详细介绍,表格部分
    .detailedness{
        width:990px;
        border-top:1px solid #afafaf;
        padding-top:48px;
        margin:0 auto;
        .detailednessOne{
              text-align: center;
              font-size:24px;
              font-weight:600px;
              p{
                  height:20px;
              }
              p:nth-child(1){
                line-height: 28px;
                font-size: 18px;
                letter-spacing: 4px;
            }
            p:nth-child(2){
                line-height: 28px;
                font-size: 18px;
                letter-spacing: 4px;
            } 
            p:nth-child(3){
                font-size: 14px;
                color: #929292;
                line-height: 24px;
            }
            p:nth-child(4) a{    
                font-size: 14px;
                text-decoration: underline;
                float:right;
            }
            .infoTable{
                height:320px;
                padding-bottom:60px;
                .tabLeft{      
                        float:left;
                        font-size: 14px;
                        color: #fff;
                        background-color: #000;
                        th{
                             width:120px;
                             height:51px;
                             border-bottom: 1px solid white;
                        }
                       
                }
                .taRight{
                    background: none;
                    float:left;
                    font-size: 14px;
                    background-color: #000;
                    td{
                        border:none;
                         width:172px;
                         height:51px;
                         text-align:center;
//                       background-color: #e7e7e7;
                    }   
                }
            }                  
        }
        .detailednessTwo{
              text-align: center;
              font-size:24px;
              font-weight:600px;
              p{
                  height:20px;
              }
              p:nth-child(2){
                line-height: 20px;
                font-size: 16px;
            }
            p:nth-child(3){
                line-height: 20px;
                font-size: 12px;
                color:#a3a3a3;
            } 
            .ulContent{ 
                    margin-top:20px;            
                    line-height: 20px;
                    font-size: 14px;
                    color: #a3a3a3;
                    overflow:hidden;
                li{
                    width: 320px;
                    height: 30px;
                    float: left;
                    margin: 0 9px 26px 0;
                    border-bottom: 1px solid #dadada;  
                }
                                
            }
            .alert{
                width: 990px;
                margin: 0 auto;
                padding: 10px 0;
                line-height: 20px;
                font-size: 14px;
                font-weight: 500;
                color: #a3a3a3;
                text-align:left;
            }
            .state{
               @extend .alert;
            }
            .imginfoBox{
                width:1000px;
                height:1380px;
                
                img{
                    float:left;
                }
                img:nth-child(1){
                    margin-right:20px;
                }
                img:nth-child(3){
                    margin-right:20px;
                }
            }
        }
        .detailednessThree{
              text-align: center;
              font-size:24px;
              font-weight:600px;
              margin-bottom:80px;
               p{
                line-height: 24px;
                font-size: 12px;
                margin-top:30px;
                text-align: left;
                padding:0 40px;
            } 
            a{
                display:inline-block;
                width: 98px;
                height: 34px;
                line-height: 34px;
                font-size: 14px;
                background: black;
                color:white;
            }
        }
        .detailednessFour{
//          margin-left:110px;
           img{
               width:990px;
           }
        }
        .detailednessFive{

              font-size:24px;
              font-weight:600px;
              h3{
            text-align: center;
                  
              }
              .fiveTil{                             
            font-size:16px;
            text-align: center;
                  
              }
              .clothes{
                 overflow: hidden;
                  .clothesIn{
                     
                         float:left;
                          padding: 18px 4px 10px;
                         .pTit{
                             line-height:18px;
                              a{
                               
                               font-size: 14px;
                               font-weight: 600; 
                              }
                               
                          }
                          .pCon{
                              line-height:18px;
                              a{
                               color: #afafaf;
                               font-size: 14px;
                            
                              }
                               
                          }
                          .pConIn{
                              line-height:18px;
                              
                               .sOne{
                            padding-right:10px;
                            color: #e63f34;
                            font-size: 16px;
                            font-weight: 600;  
                          }
                          .sTwo{
                            padding-right:10px;
                            color: #afafaf;
                            font-size: 12px;
                            text-decoration: line-through;  
                          }
                          .sTree{
                              padding-left:50px;  
                              font-size:12px;
                              font-weight: 600; 
                          }
                          .sTree:hover{
                              color:#e63f34;
                          }
                          }
                         
                          
                  }
              } 
        }
    }
  }
}
    
      
    
#footer{
    width:100%;
    background:#f2f2f2;    
}
#footerIn{
    padding-top:30px;
    width:1000px;
    height:205px;
    margin:0 auto;
    font-size:12px;
    color:black;
    #footerinfo{
            height:60px; 
        li{
            float:left;
            height:60px;
            width:165px;
            border-right:1px solid black;
            text-align:center;
            a{
                display:block;
                i{
                    font-size:34px;
//                  margin-bottom:2px;
                    display:block;
                    
                }

                 i:hover{
                 color:red;
               }
            }
           
        }
        li:last-child{
            border-right:0px solid black; 
        
        }
        
    }

    .footerLink{
         height:56px;
         width:1000px;
         text-align:center;
         a{     
             margin-right:30px;
             line-height:56px;
         }
         a:hover{
            color:red;
        }
    }
    .copyright{
        @extend .footerLink;
        span{
             margin-right:30px;
             line-height:16px;
            
        }
    }
    .imgcoin{
        height:35px;
         width:36px; 
         margin:-20px auto;
    }
}
