@charset "UTF-8";
body, div, p, ul, ol, li, dl, dt, dd, form, table, tr, td, h1, h2, h3, h4, h5, h6, fieldset, input, textarea, figure {
  margin: 0;
  padding: 0; }

body {
  font-family: "微软雅黑",Arial; }

a {
  text-decoration: none;
  color: black; }

ul, ol {
  list-style: none; }

img {
  border: none;
  display: block; }

   //headerTop
 #headerTop{
  width: 100%;
  background: #f2f2f2;
 }
 #headerTopIn {
  width: 1120px;
  height: 30px;
  font-size:12px;
  color: #000000;
  text-align: center;
  line-height: 30px;
  margin: 0 auto; 
}
.headerTopInLeft {
  float:left; 
  li{
  float: left;
  img{
  float: left;   
  }
      a{
         padding-left:20px;
         padding-right:20px;  
      } 
  }
}
.headerTopInRight{
  float:right; 
  padding-left:20px;
  padding-right:20px;
  li{
  float:left; 
      a{
        padding-left:20px;
        padding-right:20px; 
      }
  }
 
}
//headerBot
#headerBot{
    @extend #headerTop;
    background:#ffffff;
}
#headerBotIn{
    a{
        font-size:16px;
        color: #747474;
        margin-right:14px;  
    }
  width: 1120px;
  height: 90px;
  line-height: 90px;
  margin: 0 auto; 
}
.headerBotInLeft{
  li{
      float: left; 
  }
}
.headerBotInRight{
    padding-top:25px;
    float:right;
    margin-right:63px;
  
}

//background
#background{
            width:100%;
            height:800px;     
            background: url(../img/bgpic.jpg) center 0px / 1920px 802px no-repeat;   
        
     
        
        #regin{
            margin:0 auto;
            width:1000px;
            height:800px;
            padding:60px;
            #reginIn{
            width:350px;
            height:430px;
            overflow:hidden;
            background: #fff;
           float: right;
           margin-right:30px;
        span{
            width:175px;
            height:55px;
            line-height: 55px;
            float:left;
            background: #eee;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
        }
    #userName{
         background: #eee; 
    } 
      #phone{
          color:red;
           background: #fff;
           border-top:3px solid red;
      }   
        #phoneNum{
            clear:both;
            width:300px;
            height:48px;
            margin-left:25px;
            margin-bottom: 14px;
            margin-top:20px;
            outline:none;
        }
        #check{
            
              #checkNum{
            width:190px;
            height:48px;
            float:left;
            margin-left:25px;
            outline:none;
            margin-bottom:14px;
        }
            #checkPassword{
            width:300px;
            height:48px;
            float:left;
            margin-left:25px;
            outline:none;
            margin-bottom:14px;
        }
        a{            
            line-height:36px;         
            #checkBlack{ 
                border: none;                       
                width: 12px;
                height: 12px;
                margin: 10px 5px 0 25px;;
                float: none;
                display: inline-block;
                background: black;
                float:left;
            }
            float:left;
            font-size:12px;
            color:#666666;
        }
        .aRight{
            margin-left:150px;
        }
         #checkBtn{
    width:100px;
    height:50px;
    float:left;
    text-align:center;
   margin-right:25px;
    margin-bottom: 30px;    
      line-height: 48px;
    text-align: center;
    background: #dd2828;
    color: #fff;
    font-size: 14px;
    float: right;
    cursor: pointer;
            
        }
        }
        #login{
    clear:both;
    width: 300px;
    height: 50px;
    display: block;
    background-color: #222;
    color:white;
    line-height: 50px;
    font-size: 16px;
    cursor: pointer;
     text-align: center;
     margin-left:25px;
        }
        #reg{
            width:70px;
            height:20px;
    text-align: center;
  margin-right:8px;
  margin-top:12px;
    float:right;
    color:red;
    a{
            font-size: 12px;
            font-weight:100;
            float:left;
            padding-right:6px;
        }
        .arrow{
            display: inline-block;
            width:0px;
            height:0px;
            border: 4px solid #fff;
            border-left-color: red;
            float:left;
            margin-top:3px;
        }
        
        }
        
        .bottom{
            clear:both;
            width:300px;
            height:68px;
    margin: 40px 25px 30px;
    /*overflow: hidden;*/
   .otherMet{
    width: 300px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    margin: 0px auto;
    background: #fff;
    float: none;
    h3{
        float:left;
    font-weight:100;
    margin:10px 16px 0px 16px;
        }
        
        .graybg{
        width: 90px;
        height: 20px;
        border-bottom:1px solid #cccccc;
        float:left;
        }
        }
        #link{
      width: 300px;
    height: auto;
    overflow: visible;
    padding-top:35px;
    a{
    display: inline-block;
    width: 31px;
    height: 26px;
    margin-right:35px;
    cursor: pointer;
    float: none;
    i{
        font-size:28px;
    }
        }
        a:nth-child(1){
            margin-left:15px;
            img{
                margin-top:6px;
                display:block;
            }
        }
        }
        
        }
        
        }
        }
        //此处结束
        }
//footer
#footer{
    overflow:hidden;
    clear:both;
    width:100%;
    background:#f2f2f2;    
}
#footerIn{
    padding-top:30px;
    width:1000px;
    height:205px;
    margin:0 auto;
    font-size:12px;
    color:black;
//  overflow:hidden;
    #footerinfo{
            height:60px; 
        li{
            float:left;
            height:60px;
            width:165px;
            border-right:1px solid black;
            text-align:center;
            a{
                display:block;
                i{
                    font-size:34px;
//                  margin-bottom:2px;
                    display:block;
                    
                }

                 i:hover{
                 color:red;
        }
            }
           
        }
        li:last-child{
            border-right:0px solid black; 
        
        }
        
    }

    .footerLink{
         height:56px;
         width:1000px;
         text-align:center;
         a{     
             margin-right:30px;
             line-height:56px;
         }
         a:hover{
            color:red;
        }
    }
    .copyright{
        @extend .footerLink;
        span{
             margin-right:30px;
             line-height:16px;
            
        }
    }
    .imgcoin{
        height:35px;
         width:36px; 
         margin:-20px auto;
    }
}
