@charset "UTF-8";
body, div, p, ul, ol, li, dl, dt, dd, form, table, tr, td, h1, h2, h3, h4, h5, h6, fieldset, input, textarea, figure {
  margin: 0;
  padding: 0; }

body {
  font-family: "微软雅黑",Arial; }

a {
  text-decoration: none;
  color: black; }

ul, ol {
  list-style: none; }



img {
  border: none;
  display: block; }